python-dotenv

#Framework for using llm
langchain
langchain-core
langchain-community


# LLM provider 

langchain-groq
langchain-text-splitters 

# Vector store

faiss-cpu 

#notebook
jupyter
ipykernel 

#web app
streamlit